{{layouts/header-bar private=true systemAlert=systemAlert}}
{{layouts/private/main-nav}}
<div id="main-content-strip" class="{{if navCollapsed "nav-collapsed"}} {{if session.hideContent "invisible"}}">
  {{#if systemAlert}}
    <div class="section-padding-x section-padding-top">
      {{layouts/system-alerts systemAlert=systemAlert data-test-id="system-alert"}}
    </div>
  {{/if}}
  {{yield}}
</div>
{{#if session.hideContent}}
  {{layouts/loading-page}}
{{/if}}