{{layouts/header/header-bar private=true systemAlert=systemAlert}}
<section class="columns-container">
  {{layouts/private/main-nav class="column left"}}
  <div class="{{if navCollapsed "nav-collapsed"}} {{if session.hideContent "invisible"}} column right">
    <div class="bottom">
      {{#if systemAlert}}
        <div class="section-padding-x section-padding-top">
          {{layouts/system-alerts systemAlert=systemAlert data-test-id="system-alert"}}
        </div>
      {{/if}}
      <div class="main-content">
      {{yield}}
      </div>
      {{layouts/footer/footer-strip}}
    </div>
  </div>
</section>
{{#if session.hideContent}}
  {{layouts/loading-page}}
{{/if}}