{{component emberSkeleton.headerComponent headerProps=headerProps}}
<section class="panel-container">
  <div class="main-content {{if emberSkeleton.hideContent "invisible"}}">
    {{yield}}
  </div>
  {{#if emberSkeleton.hideContent}}
    <div class="loading-content">
      {{component emberSkeleton.loadingComponent}}
    </div>
  {{/if}}
  {{component emberSkeleton.footerComponent}}
</section>