{{component emberSkeleton.options.headerComponent headerProps=headerProps}}
      {{log emberSkeleton.options.alternativeContentComponent}}

<section class="panel-container">
  <div class="main-content {{if emberSkeleton.hideMainContent "hidden"}}">
    {{yield}}
  </div>
  {{#if emberSkeleton.hideMainContent}}
    <div class="loading-content flex-expand">
      {{component emberSkeleton.options.alternativeContentComponent loadingProps=loadingProps layoutType=emberSkeleton.layoutType isLoading=emberSkeleton.isLoading}}
    </div>
  {{/if}}
  {{component emberSkeleton.options.footerComponent footerProps=footerProps}}
</section>