{{ember-skeleton/header/header-bar authenticated=false systemAlert=systemAlert}}
<section class="panel-container">
{{!--   {{#if systemAlert}}
    <div class="section-padding-x section-padding-top">
      {{ember-skeleton/system-alerts systemAlert=systemAlert}}
    </div>
  {{/if}} --}}
  <div class="main-content">
    {{yield}}
  </div>
  {{ember-skeleton/footer/footer-strip}}
</section>
{{#if basicLayoutControls.hideContent}}
  {{ember-skeleton/loading-page}}
{{/if}}