{{component headerComponent authenticated=false systemAlert=systemAlert headerProps=headerProps}}
<section class="panel-container">
  <div class="main-content {{if basicLayoutControls.hideContent "invisible"}}">
    {{yield}}
  </div>
  {{#if basicLayoutControls.hideContent}}
    <div class="loading-content flex-expand">
      {{ember-skeleton/loading-page}}
    </div>
  {{/if}}
  {{ember-skeleton/footer/footer-strip}}
</section>
{{#if basicLayoutControls.hideContent}}
  {{ember-skeleton/loading-page}}
{{/if}}