{{ember-skeleton/header/header-bar authenticated=false systemAlert=systemAlert}}
<div id="todo">
  {{#if systemAlert}}
    <div class="section-padding-x section-padding-top">
      {{ember-skeleton/system-alerts systemAlert=systemAlert}}
    {{/if}}
    <div class="main-content">
      {{yield}}
      </div>
      {{ember-skeleton/footer/footer-strip}}
    </div>

  {{yield}}
</div>