{{component emberSkeleton.headerComponent headerProps=headerProps}}
<section class="panel-container">
  <div class="main-content {{if basicLayoutControls.hideContent "invisible"}}">
    {{yield}}
  </div>
  {{#if basicLayoutControls.hideContent}}
    <div class="loading-content flex-expand">
      {{component emberSkeleton.loadingComponent}}
    </div>
  {{/if}}
  {{component emberSkeleton.footerComponent}}
</section>