{{component emberSkeleton.headerComponent headerProps=headerProps}}
<section id="columns">
  {{#ember-skeleton/sidebar-layout/sidebar 
    class="ember-skeleton-sidebar"
    toggleSidebarExpanded=(action "toggleSidebarExpanded")  
  }}
    {{component emberSkeleton.sidebarComponent sidebarProps=sidebarProps}}
  {{/ember-skeleton/sidebar-layout/sidebar}}
  <div class="main">
    <div class="content {{if emberSkeleton.hideContent "hidden"}}">
      {{yield}}
    </div>
    {{#if emberSkeleton.hideContent}}
      <div class="loading-content flex-expand">
        {{component emberSkeleton.loadingComponent}}
      </div>
    {{/if}}
    {{component emberSkeleton.footerComponent}}
  </div>
</section>
