{{component emberSkeleton.options.headerComponent headerProps=headerProps}}
<section id="columns">
  {{#ember-skeleton/sidebar-layout/sidebar-wrapper 
    class="ember-skeleton-sidebar"
    toggleSidebarExpanded=(action "toggleSidebarExpanded")  
  }}
    {{component emberSkeleton.options.sidebarContentComponent sidebarProps=sidebarProps}}
  {{/ember-skeleton/sidebar-layout/sidebar-wrapper}}
  <div class="main">
    <div class="content {{if emberSkeleton.hideMainContent "hidden"}}">
      {{yield}}
    </div>
    {{#if emberSkeleton.hideMainContent}}
      <div class="loading-content flex-expand">
        {{component emberSkeleton.options.alternativeContentComponent loadingProps=loadingProps layoutType=emberSkeleton.layoutType isLoading=emberSkeleton.isLoading}}
      </div>
    {{/if}}
    {{component emberSkeleton.options.footerComponent footerProps=footerProps}}
  </div>
</section>
