{{ember-skeleton/header/header-bar systemAlert=systemAlert}}
<section class="sidebar-layout-columns-container flex-columns">
  {{ember-skeleton/sidebar-layout/main-nav class="column left-column sidebar-layout-left-column flex-column"}}
  <div class="{{if navCollapsed "nav-collapsed"}} {{if basicLayoutControls.hideContent "invisible"}} column right-column sidebar-layout-right-column flex-column flex-expand">
    <div class="bottom-row flex-expand flex-column height-100">
      {{!-- {{#if systemAlert}}
        <div class="section-padding-x section-padding-top">
          {{ember-skeleton/system-alerts systemAlert=systemAlert data-test-id="system-alert"}}
        </div>
      {{/if}} --}}
      <div class="main-content {{basicLayoutControls.hideContent}} flex-expand">
        {{yield}}
      </div>
      {{#if basicLayoutControls.hideContent}}
        <div class="loading-content flex-expand">
          {{ember-skeleton/loading-page}}
        </div>
      {{/if}}
      {{ember-skeleton/footer/footer-strip}}
    </div>
  </div>
</section>
