{{ember-skeleton/header/header-bar systemAlert=systemAlert}}
<section class="columns-container">
  {{ember-skeleton/sidebar-layout/main-nav class="column left-column"}}
  <div class="{{if navCollapsed "nav-collapsed"}} {{if basicLayoutControls.hideContent "invisible"}} column right-column">
    <div class="column-bottom">
      {{!-- {{#if systemAlert}}
        <div class="section-padding-x section-padding-top">
          {{ember-skeleton/system-alerts systemAlert=systemAlert data-test-id="system-alert"}}
        </div>
      {{/if}} --}}
      <div class="main-content {{basicLayoutControls.hideContent}}">
        {{yield}}
      </div>
      {{#if basicLayoutControls.hideContent}}
        <div class="loading-content">
          {{ember-skeleton/loading-page}}
        </div>
      {{/if}}
      {{ember-skeleton/footer/footer-strip}}
    </div>
  </div>
</section>
