<div
  data-test-id={{this.dataTestId}}
  class="wrapper sidebar-layout
    {{this.emberSkeleton.appNamespace}}
    {{if this.emberSkeleton.hideContent 'hide-content' 'show-content'}}
    {{if this.contentHeader 'content-header'}}
    {{if this.emberSkeleton.navFrozen 'nav-frozen'}}"
  ...attributes
>
  {{component
    this.emberSkeleton.options.headerComponent
    headerProps=@headerProps
  }}
  <section id="columns">
    <EmberSkeleton::SidebarLayout::SidebarWrapper
      class="ember-skeleton-sidebar"
      @toggleSidebarExpanded={{action "toggleSidebarExpanded"}}
    >
      {{component
        this.emberSkeleton.options.sidebarContentComponent
        sidebarProps=@sidebarProps
      }}
    </EmberSkeleton::SidebarLayout::SidebarWrapper>
    <div class="main">
      <div class="content {{if this.emberSkeleton.hideMainContent 'hidden'}}">
        {{yield}}
      </div>
      {{#if this.emberSkeleton.hideMainContent}}
        <div class="loading-content flex-expand">
          {{component
            this.emberSkeleton.options.alternativeContentComponent
            loadingProps=@loadingProps
            layoutType=this.emberSkeleton.layoutType
            isLoading=this.emberSkeleton.isLoading
          }}
        </div>
      {{/if}}
      {{component
        this.emberSkeleton.options.footerComponent
        footerProps=@footerProps
      }}
    </div>
  </section>
</div>