<div
  data-test-id={{this.dataTestId}}
  class="wrapper panel-layout
    {{if this.emberSkeleton.hideContent 'hide-content' 'show-content'}}"
  ...attributes
>
  {{component
    this.emberSkeleton.options.headerComponent
    headerProps=@headerProps
  }}
  <section class="panel-container">
    <div
      class="main-content {{if this.emberSkeleton.hideMainContent 'hidden'}}"
    >
      {{yield}}
    </div>
    {{#if this.emberSkeleton.hideMainContent}}
      <div class="loading-content flex-expand">
        {{component
          this.emberSkeleton.options.alternativeContentComponent
          loadingProps=@loadingProps
          layoutType=this.emberSkeleton.layoutType
          isLoading=this.emberSkeleton.isLoading
        }}
      </div>
    {{/if}}
    {{component
      this.emberSkeleton.options.footerComponent
      footerProps=@footerProps
    }}
  </section>
</div>