{{layouts/header/header-bar authenticated=false systemAlert=systemAlert}}
<div id="todo">
  {{#if systemAlert}}
    <div class="section-padding-x section-padding-top">
      {{layouts/system-alerts systemAlert=systemAlert}}
      <div class="main-content">
      {{yield}}
      </div>
      {{layouts/footer/footer-strip}}
    </div>
  {{/if}}
  {{yield}}
</div>