<div
  data-test-id={{this.dataTestId}}
  class="wrapper sidebar-layout
    {{this.emberSkeleton.appNamespace}}
    {{if this.emberSkeleton.hideContent 'hide-content' 'show-content'}}
    {{if this.contentHeader 'content-header'}}
    {{if this.emberSkeleton.navFrozen 'nav-frozen'}}"
  ...attributes
>
  {{component
    this.emberSkeleton.options.headerComponent
    headerProps=@headerProps
  }}
  <section id="columns">
    <EmberSkeleton::SidebarLayout::SidebarWrapper
      class="ember-skeleton-sidebar"
    >
      {{component
        this.emberSkeleton.options.sidebarContentComponent
        sidebarProps=@sidebarProps
      }}
    </EmberSkeleton::SidebarLayout::SidebarWrapper>
    <div class="main">
      <EmberSkeleton::MainContent>
        {{yield}}
      </EmberSkeleton::MainContent>
      {{component
        this.emberSkeleton.options.footerComponent
        footerProps=@footerProps
      }}
    </div>
  </section>
</div>