<li>{{#link-to "sidebar-layout" class="dashboard"}}{{svg-repo/icons/icon-home class="dashboard"}}Sidebar Layout{{/link-to}}</li>
<li>{{#link-to "simple-layout" class="signup"}}{{svg-repo/icons/icon-user class="dashboard"}}Simple Layout{{/link-to}}</li>
<li>{{#link-to "sidebar-layout" class="dashboard"}}{{svg-repo/icons/icon-home class="dashboard"}}Sidebar Layout{{/link-to}}</li>
<li>{{#link-to "simple-layout" class="signup"}}{{svg-repo/icons/icon-user class="dashboard"}}Simple Layout{{/link-to}}</li>
<li>{{#link-to "sidebar-layout" class="dashboard"}}{{svg-repo/icons/icon-home class="dashboard"}}Sidebar Layout{{/link-to}}</li>
<li>{{#link-to "simple-layout" class="signup"}}{{svg-repo/icons/icon-user class="dashboard"}}Simple Layout{{/link-to}}</li>
<li>{{#link-to "sidebar-layout" class="dashboard"}}{{svg-repo/icons/icon-home class="dashboard"}}Sidebar Layout{{/link-to}}</li>
<li>{{#link-to "simple-layout" class="signup"}}{{svg-repo/icons/icon-user class="dashboard"}}Simple Layout{{/link-to}}</li>
<li>{{#link-to "sidebar-layout" class="dashboard"}}{{svg-repo/icons/icon-home class="dashboard"}}Sidebar Layout{{/link-to}}</li>
<li>{{#link-to "simple-layout" class="signup"}}{{svg-repo/icons/icon-user class="dashboard"}}Simple Layout{{/link-to}}</li>
<li>{{#link-to "sidebar-layout" class="dashboard"}}{{svg-repo/icons/icon-home class="dashboard"}}Sidebar Layout{{/link-to}}</li>
<li>{{#link-to "simple-layout" class="signup"}}{{svg-repo/icons/icon-user class="dashboard"}}Simple Layout{{/link-to}}</li>
<li>{{#link-to "sidebar-layout" class="dashboard"}}{{svg-repo/icons/icon-home class="dashboard"}}Sidebar Layout{{/link-to}}</li>
<li>{{#link-to "simple-layout" class="signup"}}{{svg-repo/icons/icon-user class="dashboard"}}Simple Layout{{/link-to}}</li>
<li>{{#link-to "sidebar-layout" class="dashboard"}}{{svg-repo/icons/icon-home class="dashboard"}}Sidebar Layout{{/link-to}}</li>
<li>{{#link-to "simple-layout" class="signup"}}{{svg-repo/icons/icon-user class="dashboard"}}Simple Layout{{/link-to}}</li>
<li>{{#link-to "sidebar-layout" class="dashboard"}}{{svg-repo/icons/icon-home class="dashboard"}}Sidebar Layout{{/link-to}}</li>
<li>{{#link-to "simple-layout" class="signup"}}{{svg-repo/icons/icon-user class="dashboard"}}Simple Layout{{/link-to}}</li>
<li>{{#link-to "sidebar-layout" class="dashboard"}}{{svg-repo/icons/icon-home class="dashboard"}}Sidebar Layout{{/link-to}}</li>
<li>{{#link-to "simple-layout" class="signup"}}{{svg-repo/icons/icon-user class="dashboard"}}Simple Layout{{/link-to}}</li>
<li>{{#link-to "sidebar-layout" class="dashboard"}}{{svg-repo/icons/icon-home class="dashboard"}}Sidebar Layout{{/link-to}}</li>
<li>{{#link-to "simple-layout" class="signup"}}{{svg-repo/icons/icon-user class="dashboard"}}Simple Layout{{/link-to}}</li>
<li>{{#link-to "sidebar-layout" class="dashboard"}}{{svg-repo/icons/icon-home class="dashboard"}}Sidebar Layout{{/link-to}}</li>
<li>{{#link-to "simple-layout" class="signup"}}{{svg-repo/icons/icon-user class="dashboard"}}Simple Layout{{/link-to}}</li>
<li>{{#link-to "sidebar-layout" class="dashboard"}}{{svg-repo/icons/icon-home class="dashboard"}}Sidebar Layout{{/link-to}}</li>
<li>{{#link-to "simple-layout" class="signup"}}{{svg-repo/icons/icon-user class="dashboard"}}Simple Layout{{/link-to}}</li>
<li>{{#link-to "sidebar-layout" class="dashboard"}}{{svg-repo/icons/icon-home class="dashboard"}}Sidebar Layout{{/link-to}}</li>
<li>{{#link-to "simple-layout" class="signup"}}{{svg-repo/icons/icon-user class="dashboard"}}Simple Layout{{/link-to}}</li>
<li>{{#link-to "sidebar-layout" class="dashboard"}}{{svg-repo/icons/icon-home class="dashboard"}}Sidebar Layout{{/link-to}}</li>
<li>{{#link-to "simple-layout" class="signup"}}{{svg-repo/icons/icon-user class="dashboard"}}Simple Layout{{/link-to}}</li>
<li>{{#link-to "sidebar-layout" class="dashboard"}}{{svg-repo/icons/icon-home class="dashboard"}}Sidebar Layout{{/link-to}}</li>
<li>{{#link-to "simple-layout" class="signup"}}{{svg-repo/icons/icon-user class="dashboard"}}Simple Layout{{/link-to}}</li>
<li>{{#link-to "sidebar-layout" class="dashboard"}}{{svg-repo/icons/icon-home class="dashboard"}}Sidebar Layout{{/link-to}}</li>
<li>{{#link-to "simple-layout" class="signup"}}{{svg-repo/icons/icon-user class="dashboard"}}Simple Layout{{/link-to}}</li>
<li>{{#link-to "sidebar-layout" class="dashboard"}}{{svg-repo/icons/icon-home class="dashboard"}}Sidebar Layout{{/link-to}}</li>
<li>{{#link-to "simple-layout" class="signup"}}{{svg-repo/icons/icon-user class="dashboard"}}Simple Layout{{/link-to}}</li>
<li>{{#link-to "sidebar-layout" class="dashboard"}}{{svg-repo/icons/icon-home class="dashboard"}}Sidebar Layout{{/link-to}}</li>
<li>{{#link-to "simple-layout" class="signup"}}{{svg-repo/icons/icon-user class="dashboard"}}Simple Layout{{/link-to}}</li>
<li>{{#link-to "sidebar-layout" class="dashboard"}}{{svg-repo/icons/icon-home class="dashboard"}}Sidebar Layout{{/link-to}}</li>
<li>{{#link-to "simple-layout" class="signup"}}{{svg-repo/icons/icon-user class="dashboard"}}Simple Layout{{/link-to}}</li>
<li>{{#link-to "sidebar-layout" class="dashboard"}}{{svg-repo/icons/icon-home class="dashboard"}}Sidebar Layout{{/link-to}}</li>
<li>{{#link-to "simple-layout" class="signup"}}{{svg-repo/icons/icon-user class="dashboard"}}Simple Layout{{/link-to}}</li>
<li>{{#link-to "sidebar-layout" class="dashboard"}}{{svg-repo/icons/icon-home class="dashboard"}}Sidebar Layout{{/link-to}}</li>
<li>{{#link-to "simple-layout" class="signup"}}{{svg-repo/icons/icon-user class="dashboard"}}Simple Layout{{/link-to}}</li>
<li>{{#link-to "sidebar-layout" class="dashboard"}}{{svg-repo/icons/icon-home class="dashboard"}}Sidebar Layout{{/link-to}}</li>
<li>{{#link-to "simple-layout" class="signup"}}{{svg-repo/icons/icon-user class="dashboard"}}Simple Layout{{/link-to}}</li>
<li>{{#link-to "sidebar-layout" class="dashboard"}}{{svg-repo/icons/icon-home class="dashboard"}}Sidebar Layout{{/link-to}}</li>
<li>{{#link-to "simple-layout" class="signup"}}{{svg-repo/icons/icon-user class="dashboard"}}Simple Layout{{/link-to}}</li>
<li>{{#link-to "sidebar-layout" class="dashboard"}}{{svg-repo/icons/icon-home class="dashboard"}}Sidebar Layout{{/link-to}}</li>
<li>{{#link-to "simple-layout" class="signup"}}{{svg-repo/icons/icon-user class="dashboard"}}Simple Layout{{/link-to}}</li>
<li>{{#link-to "sidebar-layout" class="dashboard"}}{{svg-repo/icons/icon-home class="dashboard"}}Sidebar Layout{{/link-to}}</li>
<li>{{#link-to "simple-layout" class="signup"}}{{svg-repo/icons/icon-user class="dashboard"}}Simple Layout{{/link-to}}</li>
<li>{{#link-to "sidebar-layout" class="dashboard"}}{{svg-repo/icons/icon-home class="dashboard"}}Sidebar Layout{{/link-to}}</li>
<li>{{#link-to "simple-layout" class="signup"}}{{svg-repo/icons/icon-user class="dashboard"}}Simple Layout{{/link-to}}</li>
<li>{{#link-to "sidebar-layout" class="dashboard"}}{{svg-repo/icons/icon-home class="dashboard"}}Sidebar Layout{{/link-to}}</li>
<li>{{#link-to "simple-layout" class="signup"}}{{svg-repo/icons/icon-user class="dashboard"}}Simple Layout{{/link-to}}</li>