<div
  data-test-id={{this.dataTestId}}
  data-test-ember-skeleton-panel-layout
  class="wrapper panel-layout
    {{if this.emberSkeleton.hideContent 'hide-content' 'show-content'}}"
  ...attributes
>
  {{component
    this.emberSkeleton.options.headerComponent
    headerProps=@headerProps
  }}
  <section class="panel-container">
    <EmberSkeleton::MainContent>
      {{yield}}
    </EmberSkeleton::MainContent>
    {{component
      this.emberSkeleton.options.footerComponent
      footerProps=@footerProps
    }}
  </section>
</div>